.cart-status-icon {
    margin-left: auto;
    position: relative;
    margin-right: 20px;
  }
  img {
    width: 35px;
  }
  .cart-status-count {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    position: absolute;
    top: -10%;
    left: 46%;
    min-width: 18px;
    border-style: solid;
    border-radius: 18px;
    background-color: rgba(233, 145, 29, 0.849);
  }
  