.productCategories {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .productCategories::-webkit-scrollbar {
    display: none;
  }
  @media screen and (max-width: 1200px) {
    .productCategories {
      justify-content: flex-start;
    }
  }